.footer {
  @include flex(row, center, center, 30px, wrap);
  @include size(100%, 100%);
  min-height: 500px;
  background: #000;
  padding: 20px;
  color: $white;

  .footer__user__content {
    @include flex(column, flex-start, center, 10px);
    min-height: 300px;

    .footer__user__content__img {
      @include size(100px, 100px);
      object-fit: cover;
      border-radius: 50%;
    }

    .footer__user__content__description {
      color: rgba($color: $white, $alpha: 0.8);
      max-width: 200px;
      text-align: center;
      font-size: 0.8rem;
    }
  }

  .footer__container__links {
    padding: 10px;
    min-height: 300px;
    border-radius: 20px;

    & > h1 {
      font-family: $font-Poppins;
      color: rgba($color: $white, $alpha: 0.8);
    }

    & > ul {
      margin-top: 20px;
      @include flex(column, flex-start, flex-start, 10px);
    }

    & > ul > li:hover {
      .footer__line__decoration {
        width: 100%;
      }
    }

    .footer__line__decoration {
      width: 0%;
      height: 2px;
      background: rgba($color: $white, $alpha: 0.7);
      margin-top: 2px;
      transition: width 200ms;
    }

    & > ul > li > a {
      color: rgba($color: $white, $alpha: 0.7);
      @include flex(row, flex-start, center, 5px);
      transition: color 300ms;

      &:hover {
        color: #f7e4e0;
      }
    }
  }
}
